@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E0D56C, #948B38);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #64603ab4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #412994;
    text-align: center;
    text-shadow: 1px 1px 2px #120c2b;
}

h2 {
    color: #856CE0;
}